.biao {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.mbiao {
    font-size: 5px;
    text-align: center;
}

.text1 {
    text-indent: 2em;
}

.text2 {
    text-indent: 2em;
}

.pic {
    text-align: center;
}